.carousel1-slide {
  overflow-y: hidden;
  max-width: 1500px;
  margin: 5px 100px;
}
.carousel1-slide h2 {
  margin: 10px 450px;
}
.carousel-item .carousel-item-img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 10px 470px;
}
.carousel-item .carousel-item-p {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  margin: 10px 100px;
  text-align: justify;
  text-transform: none;
}

@media (min-width: 700px) {
  .carousel1-slide .carousel1-slide-h2 {
    margin: 10px 192px;
  }
  .carousel-item .carousel-item-img {
    margin: 10px 144px;
  }
}

@media (min-width: 992px) {
  .carousel1-slide .carousel1-slide-h2 {
    margin: 10px 300px;
  }
  .carousel-item .carousel-item-img {
    margin: 10px 350px;
  }
}

@media (min-width: 1200px) {
  .carousel1-slide .carousel1-slide-h2 {
    margin: 10px 450px;
  }
  .carousel-item .carousel-item-img {
    margin: 10px 470px;
  }
  .carousel-item .carousel-item-p {
    margin: 10px 100px;
  }
}
